<div class="card">
    <div class="card-header">
        Edit your post
    </div>
    <div class="card-block">
        <form>
            <div class="form-group">
                <label>Title:</label>
                <br>
                <input type="text" class="form-control" data-ng-model="vm.post.title">
                <br>
                <label>Content:</label>
                <textarea class="form-control" rows="3" data-ng-model="vm.post.content"></textarea>
                <button class="btn btn-primary float-right" style="margin: 8px 8px;" type="button" data-ng-click="vm.update({id: post.id})">Update</button>
                <a class="btn btn-warning float-right" style="margin: 8px;" data-ui-sref="postIndex">Cancel</a>
                <button class="btn btn-danger float-right" style="margin: 8px 0;" type="button" data-ng-click="vm.destroy({id: post.id})">Delete</button>
            </div>
        </form>
    </div>
</div>
