<div class="card">
    <div class="card-header">
        Write your post
    </div>
    <div class="card-block">
        <form>
            <div class="form-group" data-ng-controller="PostNewController">
                <label>Title:</label>
                <br>
                <input class="form-control" data-ng-model="vm.post.title">
                <br>
                <label>Content:</label>
                <textarea class="form-control" rows="3" data-ng-model="vm.post.content"></textarea>
                <button class="btn btn-primary float-right" style="margin: 8px 0;" type="button" data-ng-click="vm.create()">Submit</button>
                <a class="btn btn-warning float-right" style="margin: 8px 0;" type="button" data-ui-sref="postIndex">Cancel</a>
            </div>
        </form>
    </div>
</div>
