
<div class="container">
    <a class="btn btn-primary float-right" data-ui-sref="postNew">New Post</a> <span><label for="searchBar">Search: <input class="form-control" id="searchBar" type="text" data-ng-model="searchText"></label></span>
    <div class="row">
        <div class="col-md">

            <div class="card" data-ng-repeat="post in vm.posts | filter: searchText">
                <div class="card-header">
                    User Name
                    <ul style="list-style: none; background: #F7F7F9;" class="float-right">
                        <li class="dropdown" style="background: #F7F7F9;">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" data-ui-sref="postEdit({id: post.id})"> Edit </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card-block">
                    <h4 class="card-title"><a data-ui-sref="postShow({id: post.id})">{{post.title}}</a></h4>
                    <p class="card-text">{{post.content}}</p>
                    <img data-ng-src={{post.img_url}} class="img-thumbnail" style="width: 50%;">
                </div>
            </div>
        </div>
    </div>
</div>
