<!-- <div ng-repeat="post in vm.posts">
    <p>{{post.content}} <a data-ui-sref="postShow({id: post.id})">Show</a></p>
    <a data-ui-sref="postEdit({id: post.id})">edit</a>
</div> -->


<div class="container">
        <div class="row">
            <!-- <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top img-thumbnail" src="img/night-gaming.jpg" alt="">
                    <div class="card-block">
                        <div class="card-title">
                            <h4>User Here</h4>
                            <p class="card-text">This is where the users info will go</p>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        Write your post
                    </div>
                    <div class="card-block">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                                <button class="btn btn-primary float-right" style="margin: 4px 0;" type="submit" name="button">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card" data-ng-repeat="post in vm.posts">
                    <div class="card-header">
                        User Name
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Post Title</h4>
                        <p class="card-title float-right"><a data-ui-sref="postShow({id: post.id})">Show</a></p>
                        <p class="card-text">{{post.content}}</p>
                    </div>
                </div>
                <!-- <div class="card">
                    <div class="card-header">
                        User Name
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Post Title</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
